body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  background-image: url("../img/whirlpool.png");
  /*background-color: blue;*/
}
nav {
  background-color: #6BBA54 !important;
}
#picture {
  margin-top: 10%;
}
#picture img{
  width:70%;
  margin-top: 3%;
  margin-left: 10%;
}
#form {
  width:40%;
  margin-top: 10%;
}
