body {
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  background-image: url("../img/halftone.png");
  font-size: 3vh;
  color: #7F9895;
}
.brand-logo {
  margin-left: 3%;
}
nav {
  background-color: #F7B66F !important;
}
#form {
  width:80%;
  margin-top: 8%;
  margin-left: 10%;
}
.input-field input[type=text]:focus + label {
     color: #EF7858 !important;
}
.input-field input[type=text]:focus {
 border-bottom: 1px solid #EF7858 !important;
 box-shadow: 0 1px 0 0 #EF7858 !important;
}
#dropdown {
  width:25%;
  margin-left: 2%;
  margin-bottom: 2%;
  background-color: #7F9895;
  color: #FFFFFF;
}
.send{
  float: right;
  background-color:#7F9895 !important;
}
.btn {
  background-color:#7F9895 !important;
}
