body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  /*background-color: red;*/
}
nav {
  background-color: #6BBA54 !important;
}
#displayInfo img {
  width:30%;
  margin-top: 5%;
  margin-left: 10%;
}
#userInfo a:first-child{
  margin-top: 5%;
  margin-left: 23%;
}
#userInfo a:not(:first-child){
  margin-top: 5%;
  margin-left: 10%;
}
.desc {
  width:40%;
  margin-top: 10%;
  margin-left: 8%;
  line-height: 220%;
}
.title{
  width:40%;
  margin-top: 30%;
  margin-left: 8%;
  line-height: 220%;
}
