body {
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  background-image: url("../img/halftone.png");
  font-size: 3vh;
  color: #7F9895;
}
#test {
  margin-top: 40px !important;
}

#deleteBtn {
  background-color: #7F9895;
  margin-top: 5%;
  margin-left: 5%;
}

.brand-logo {
  margin-left: 3%;
}
nav {
  background-color: #F7B66F !important;
}
#displayInfo img {
  width:30%;
  margin-top: 5%;
  margin-left: 20%;
}
.desc {
  width:40%;
  margin-top: 10%;
  margin-left: 8%;
  line-height: 220%;
}
.title{
  width:40%;
  margin-top: 8%;
  margin-left: 8%;
  line-height: 220%;
}
.price {
  width:40%;
  margin-top: 3%;
  margin-left: 8%;
  line-height: 220%;
}
#userInfo {
  margin-bottom: 5%;
}
#rentBtn {
  background-color: #7F9895;
  margin-top: 5%;
  margin-left: 23%;
}
#ownerBtn {
  background-color: #7F9895;
  margin-top: 5%;
  margin-left: 5%;
}





bs
