body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  background-image: url("../img/whirlpool.png");
  /*background-color: blue;*/
}

nav {
  background-color: #6BBA54 !important;
}

#profileIcon {
  position:relative;
  top:5%;
}

#infoArea{
  font-size: 3vh;
  margin:0;
}

#infoTitle {
  font-size: 5.5vh;
  width:30%;
  text-align: center;
  padding-top: 10%;
  margin-left: 35%;
}

#infoDesc {
  width:30%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
  margin-left: 35%;
}

#items {
  background-color: #6BBA54;
}
.card:hover {
  background-color: #1B7E37;
}

#searchBar {
    background-color: #1B7E37;
    width: 30%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
bs
