body {
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  background-image: url("../img/halftone.png");
  font-size: 3vh;
  /*background-color: blue;*/
}
nav {
  background-color: #F7B66F !important;
}
/*#your-class .card {
  margin: 10px !important;
}*/
#profileIcon {
  position:relative;
  top:5%;
}
#infoTitle {
  font-size: 7vh;
  width:30%;
  text-align: center;
  padding-top: 10%;
  margin-left: 35%;
  color: #EF7858;
  text-shadow: 2px 2px 3px #7F9895;
}
#infoDesc {
  width:30%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
  margin-left: 35%;
}
#items {
  background-color: #F7F7F7;
  border-top: 3px solid #C2A68C;
  border-bottom: 3px solid #C2A68C;
}
#dropdown {
  background-color: #7F9895;
  color: #FFFFFF;
}
#myInput::placeholder {
  font-size: 3vh;
  color:  #C2A68C;
  padding-left: 28%;
}
#card-image {
  width: 280px;
  height: 250px;
  /*margin: 5%, 5%, 3%, 5% !important;*/
  padding-top: 5%;
  padding-right: 10%;
  padding-left:10%;
}
#pic{
  /*width: 70%;*/
  object-fit: contain;
}
.theCard {
  margin-top:1.5%;
}
.card p {
  color: #FFFFFF !important;
}
.card-title {
  padding-top: 2%;
  padding-left: 10%;
  color: #FFFFFF !important;
}
.cInfo {
  font-size: 2vh;
  /*padding: 2%, 0, 2%, 10% ;*/
}
#desc {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
}
#price {
  text-align: center;
  padding-bottom: 5%;
}
input[type=text]:focus {
  border-bottom: 1px solid #EF7858 !important;
  box-shadow: 0 1px 0 0 #EF7858 !important;
}







bs
