body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  background-image: url("../img/whirlpool.png");
  /*background-color: blue;*/
}

#fileupload {
  display: none;
}

nav {
  background-color: #6BBA54 !important;
}
#userStats img {
  width:40%;
  border-radius: 25px;
  margin-top: 10%;
}
#userStats div {
  margin-top: 2%;
  margin-bottom: 2%;
}
#userStats p{
  display:inline-block;
  margin-left: 4%;
  margin-right: 4%;
}
#userStats a {
  display:inline-block;
  margin-left: 8%;
  width:20%;
}
hr {
  width: 90%;
  margin-bottom: 3%;
}
#myItems {
  background-color: grey;
  width:40%;
  margin-left: 30%;
}
#rentedItems {
  background-color: grey;
  width:30%;
  margin-left: 5%;
}
